@import url("index.css");

/*====================================================================================================== RESPONSIVE DESIGN =========================================================================================================*/


/*=== MENU RESPOSIVE ===*/

header .navbar .nav-toggle {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
    transition: 0.5s;
}

header.sticky .navbar .nav-toggle {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #8732f5;
}

header .nav-menu-responsive {
    position: absolute;
    width: 0px;
    right: 0rem;
    top: 100px;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    transition: 0.5s;
}

header.sticky .nav-menu-responsive {
    top: 60px;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(5px);
}

header .nav-menu-responsive.open {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 300px;
}

header .nav-menu-responsive a {
    color: #fff;
    display: block;
    padding: 3.5rem;
    transition: 0.5s;
    text-align-last: center;

}

header .nav-menu-responsive a:hover {
    color: #8732f5
}


/*====================================================================================================== RESPONSIVE DESIGN MEDIA =========================================================================================================*/





/*====================================================================================================== RESPONSIVE DESIGN @MEDIA 1440px =========================================================================================================*/
@media (max-width: 1440px) {

    header {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.2);
        z-index: 1;
        height: 100px;
        padding: 1rem 5%;
    }

    header.sticky {
        z-index: 1;
        width: 100%;
        height: 100px;
        padding: 1rem 5%;
    }

    .container {
        width: 100%;
        height: auto;
    }

    .containerCard {
        padding: 2rem 5%;
        display: grid;
        grid-template-columns: repeat(2, 0fr);
        grid-gap: 10px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .container .containerCard .card {
        border-radius: 10px;
        display: inline-block;
        width: 400px;
        height: 300px;
        padding: 10px;
    }

    .text-banner h1,
    .text-banner h2 {
        display: flex;
        width: 100%;
        left: 0;
        justify-content: center;
    }

    .text-banner a {
        left: 35%;

    }

    .text-banner .animation {
        display: none;
    }
}





/*====================================================================================================== RESPONSIVE DESIGN @MEDIA 1024px =========================================================================================================*/
@media (max-width: 1024px) {
    header {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.2);
        z-index: 1;
        height: 100px;
        padding: 1rem 5%;
    }

    header.sticky {
        z-index: 1;
        width: 100%;
        height: 100px;
        padding: 1rem 5%;
    }

    header .nav-menu-responsive {
        text-transform: capitalize;
        top: 100px;
        height: auto;
    }

    header .nav-menu-responsive.open {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        width: 100%;
        top: 100px;
        height: auto;
        background-color: rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(5px);
        font-size: 15px;
        text-transform: capitalize;
    }

    header.sticky .nav-menu-responsive {
        top: 100px;
    }

    header.sticky .nav-menu-responsive.open a {
        font-size: 15px;
        text-transform: capitalize;
    }

    header .navbar .nav-toggle {
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        background-color: #8732f5;
    }

    header .navbar a {
        padding: 0px;
    }

    header .navbar .nav-links {
        display: none;
    }

    header .navbar .nav-menu,
    header .navbar .nav-links {
        display: none;
    }

    header .navbar .nav-toggle {
        display: block;
    }

    .text-banner {
        width: 100%;
    }

    .text-banner h1 {
        left: 0%;
        width: 100%;
        font-size: 3rem;
        text-align-last: center;
    }

    .text-banner h2 {
        font-size: 3rem;
        left: 0%;
        width: 100%;
        text-align-last: center;
    }

    .text-banner a {
        text-align: center;
        left: 20%;
        right: 20%;
    }

    .text-banner .animation {
        display: none;
    }

    .container form .input-box input {
        width: 49%;
    }

    .containerCard {
        padding: 2rem 5%;
        display: grid;
        grid-template-columns: repeat(2, 0fr);
        grid-gap: 10px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .container .containerCard .card {
        border-radius: 10px;
        display: inline-block;
        width: 400px;
        height: 300px;
        padding: 10px;
    }
}



/*====================================================================================================== RESPONSIVE DESIGN @MEDIA 768px =========================================================================================================*/
@media (max-width: 768px) {
    header {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.2);
        z-index: 1;
        height: 100px;
        padding: 1rem 5%;
    }

    header.sticky {
        height: 100px;
        padding: 1rem 5%;
    }

    header .nav-menu-responsive {
        text-transform: capitalize;
        top: 100px;
        height: auto;
    }

    header .nav-menu-responsive.open {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        width: 100%;
        top: 100px;
        height: auto;
        background-color: rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(5px);
    }

    header.sticky .nav-menu-responsive {
        top: 100px;
    }

    header .navbar .nav-toggle {
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        background-color: #8732f5;
    }

    .header-content {
        height: 100%;
    }

    .header-content .text-banner a {
        display: block;
        padding: 20px;
    }

    .text-banner {
        width: 100%;
    }

    .text-banner h2 {
        display: flex;
        left: 0%;
        width: 100%;
        font-size: 2rem;
    }

    .text-banner h2 span {
        width: 100%;
        font-size: 2rem;
    }

    .containerCard {
        padding: 2rem 5%;
        display: grid;
        grid-template-columns: repeat(1, 0fr);
        grid-gap: 10px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .container .containerCard .card {
        border-radius: 10px;
        display: inline-block;
        width: 400px;
        height: 300px;
        padding: 10px;
    }

    .container form .input-box input {
        width: 100%;
    }

    footer {
        padding-top: 25px;
        height: auto;
    }

    footer .footerMenu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer .footerMenu .footer-links a {
        padding: 10px;
    }
}



/*====================================================================================================== RESPONSIVE DESIGN @MEDIA 425px =========================================================================================================*/
@media (max-width: 425px) {
    header {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.2);
        z-index: 1;
        height: 100px;
        padding: 1rem 5%;
    }

    header.sticky {
        height: 100px;
        padding: 1rem 5%;
    }

    header .nav-menu-responsive {
        text-transform: capitalize;
        top: 100px;
        height: auto;
    }

    header .nav-menu-responsive.open {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        width: 100%;
        top: 100px;
        height: auto;
        background-color: rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(5px);
        text-transform: capitalize;
    }

    header.sticky .nav-menu-responsive {
        top: 100px;
    }

    header .navbar .nav-toggle {
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        background-color: #8732f5;
    }

    .header-content {
        height: 100%;
    }

    .header-content .text-banner a {
        display: block;
        padding: 20px;
    }

    .containerCard {
        height: auto;
        flex-wrap: wrap;
    }

    .containerCard .card {
        margin-top: 20px;
    }

    .container form .input-box input {
        width: 100%;
    }

    footer {
        padding-top: 25px;
        height: auto;
    }

    footer .footerMenu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer .footerMenu .footer-links a {
        padding: 10px;
    }
}